# Lego Minifigures

# Setup

In [1]:
import pandas as pd

# Read Meta Data

In [4]:
# attached data tables
index = pd.read_csv("Data/index.csv")
meta = pd.read_csv("Data/metadata.csv")

# Explore Meta Data

In [8]:
index.head()

   Unnamed: 0                 path  class_id train-valid
0           0  marvel/0001/001.jpg         1       train
1           1  marvel/0001/002.jpg         1       valid
2           2  marvel/0001/003.jpg         1       train
3           3  marvel/0001/004.jpg         1       train
4           4  marvel/0001/005.jpg         1       train

In [16]:
index.tail()

     Unnamed: 0                 path  class_id train-valid
323         323  marvel/0015/008.jpg        29       valid
324         324  marvel/0015/009.jpg        29       valid
325         325  marvel/0015/010.jpg        29       valid
326         326  marvel/0015/011.jpg        29       valid
327         327  marvel/0015/012.jpg        29       valid

In [15]:
meta.head()

   Unnamed: 0  class_id lego_ids                 lego_names minifigure_name
0           0         1  [76115]  ['Spider Mech vs. Venom']      SPIDER-MAN
1           1         2  [76115]  ['Spider Mech vs. Venom']           VENOM
2           2         3  [76115]  ['Spider Mech vs. Venom']        AUNT MAY
3           3         4  [76115]  ['Spider Mech vs. Venom']    GHOST SPIDER
4           4         5  [75208]             ["Yoda's Hut"]            YODA

In [14]:
meta.tail()

,Unnamed: 0,class_id,lego_ids,lego_names,minifigure_name
24,24,25,[76123],"[""Captain America: Outriders Attack""]",OUTRIDER 2
25,25,26,[75926],"[""Pteranodon Chase""]",OWEN GRADY
26,26,27,[75926],"[""Pteranodon Chase""]",TRACKER TRAQUEUR RASTREADOR
27,27,28,[76125],"[""Iron Man Hall of Armor""]",IRON MAN MK 1
28,28,29,[76125],"[""Iron Man Hall of Armor""]",IRON MAN MK 5

In [17]:
# unique classes from index.csv
print("classes: {}".format(index["class_id"].unique()))
print("Nr. of classes: {}".format(len(index["class_id"].unique())))

classes: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29]
Nr. of classes: 29

In [23]:
# are there classes that have more than 1 lego_id?
meta["lego_ids"]

0     [76115]
1     [76115]
2     [76115]
3     [76115]
4     [75208]
5     [75208]
6     [75208]
7     [75199]
8     [75199]
9     [75264]
10    [75254]
11    [75254]
12    [75254]
13    [75254]
14    [76128]
15    [76128]
16    [76128]
17    [75950]
18    [75950]
19    [76162]
20    [76162]
21    [76162]
22    [76123]
23    [76123]
24    [76123]
25    [75926]
26    [75926]
27    [76125]
28    [76125]
Name: lego_ids, dtype: object

In [26]:
print("Lego IDs: {}".format(meta["lego_ids"].unique()))
print("Nr. of Lego Ids: {}".format(len(meta["lego_ids"].unique())))

Lego IDs: ['[76115]' '[75208]' '[75199]' '[75264]' '[75254]' '[76128]' '[75950]'
 '[76162]' '[76123]' '[75926]' '[76125]']
Nr. of Lego Ids: 11

In [27]:
print("Minifigure Names: {}".format(meta["minifigure_name"].unique()))
print("Nr. of Names: {}".format(len(meta["minifigure_name"].unique())))

Minifigure Names: ['SPIDER-MAN' 'VENOM' 'AUNT MAY' 'GHOST SPIDER' 'YODA' 'LUKE SKYWALKER'
 'R2-D2' 'MACE WINDU' 'GENERAL GRIEVOUS' 'KYLO REN' 'THE MANDALORIAN'
 'CARA DUNE' 'KLATOOINIAN RAIDER 1' 'KLATOOINIAN RAIDER 2' 'MYSTERIO'
 'FIREFIGHTER' 'HARRY POTTER' 'RON WEASLEY' 'BLACK WIDOW' 'YELENA BELOVA'
 'TASKMASTER' 'CAPTAIN AMERICA' 'OUTRIDER 1' 'OUTRIDER 2' 'OWEN GRADY'
 'TRACKER TRAQUEUR RASTREADOR' 'IRON MAN MK 1' 'IRON MAN MK 5']
Nr. of Names: 28

In [28]:
meta["minifigure_name"]

0                      SPIDER-MAN
1                           VENOM
2                        AUNT MAY
3                    GHOST SPIDER
4                            YODA
5                  LUKE SKYWALKER
6                           R2-D2
7                      MACE WINDU
8                GENERAL GRIEVOUS
9                        KYLO REN
10                THE MANDALORIAN
11                      CARA DUNE
12           KLATOOINIAN RAIDER 1
13           KLATOOINIAN RAIDER 2
14                       MYSTERIO
15                    FIREFIGHTER
16                     SPIDER-MAN
17                   HARRY POTTER
18                    RON WEASLEY
19                    BLACK WIDOW
20                  YELENA BELOVA
21                     TASKMASTER
22                CAPTAIN AMERICA
23                     OUTRIDER 1
24                     OUTRIDER 2
25                     OWEN GRADY
26    TRACKER TRAQUEUR RASTREADOR
27                  IRON MAN MK 1
28                  IRON MAN MK 5
Name: minifigure_name, dtype: object

**Notes**

* index.csv gives the class of each image and whether it is part of the training or validation set
* metadata.csv gives some more background informations about each class
* We have 29 classes
* Not all classes have different Lego Ids
* Two classes have the same Minifigure Name ("Spider Man")